Nama : Annisa Putri Aulia

Nim : H071191029

Tugas Machine Learning

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

#import module bagian pengukuran kinerja
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import roc_auc_score

In [19]:
#untuk import data dan dijadikan dataframe
df = pd.read_csv("data.csv")
df.head(25)

    danceability  energy  key  ...  duration_ms  time_signature  liked
0          0.803  0.6240    7  ...       304524               4      0
1          0.762  0.7030   10  ...       247178               4      1
2          0.261  0.0149    1  ...       286987               4      0
3          0.722  0.7360    3  ...       208920               4      1
4          0.787  0.5720    1  ...       179413               4      1
5          0.778  0.6320    8  ...       224029               4      1
6          0.666  0.5890    0  ...       146053               4      1
7          0.922  0.7120    7  ...       161800               4      1
8          0.794  0.6590    7  ...       247460               4      0
9          0.853  0.6680    3  ...       165363               4      1
10         0.297  0.9930    9  ...       182427               4      0
11         0.816  0.4330    1  ...       225000               4      1
12         0.297  0.9730    1  ...       170520               4      0
13         0.564  0.7430    6  ...       185667               4      1
14         0.640  0.9570    8  ...       178013               4      1
15         0.684  0.6400    5  ...       234267               4      0
16         0.850  0.8530    8  ...       136901               4      1
17         0.745  0.4560    8  ...       314367               4      0
18         0.754  0.4750    1  ...       201384               4      1
19         0.797  0.8520    8  ...       102353               4      1
20         0.798  0.8350    9  ...       139240               4      1
21         0.438  0.0825    9  ...       270000               5      0
22         0.802  0.5490    5  ...       184627               4      1
23         0.600  0.5350    4  ...       176000               3      1
24         0.729  0.5330    9  ...       225953               4      0

[25 rows x 14 columns]

In [20]:
df.shape

(195, 14)

In [21]:
X = df.iloc[:,0:4]
# X = df[["Area", "MajorAxisLength", "MinorAxisLength"]]
y = df.iloc[:, -1]

In [22]:
y

0      0
1      1
2      0
3      1
4      1
      ..
190    0
191    0
192    0
193    1
194    1
Name: liked, Length: 195, dtype: int64

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, stratify = y)

In [24]:
len(X_test), len(X_train)
#ukuran data setelah dibagi

(65, 130)

In [25]:
list_kernel = ["linear", "rbf", "poly", "sigmoid"]

In [26]:
list_model_svm =[]
for i in list_kernel:
  temporary_model = svm.SVC(kernel=i)
  temporary_model.fit(X_train, y_train)
  list_model_svm.append(temporary_model)

In [27]:
list_model_svm

[SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False)]

In [28]:
#build model
model_svr = svm.SVR(kernel="linear")
model_svm = svm.SVC(kernel="poly")
#training model
model_svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [29]:
#buar variabel hasil prediksi pada data test(uji)
predict_svm = model_svm.predict(X_test)

predict_svm

array([1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1])

In [30]:
print(classification_report(y_test, predict_svm))

              precision    recall  f1-score   support

           0       0.92      0.34      0.50        32
           1       0.60      0.97      0.74        33

    accuracy                           0.66        65
   macro avg       0.76      0.66      0.62        65
weighted avg       0.76      0.66      0.62        65

In [31]:
print(confusion_matrix(y_test, predict_svm))

[[11 21]
 [ 1 32]]

In [32]:
print(fbeta_score(y_test, predict_svm, beta=0.5, average="micro"))

0.6615384615384615

In [33]:
#print(roc_auc_score(y_test, predict_svm, multiclass))